{
  "extends": ["airbnb-base", "plugin:prettier/recommended", "plugin:promise/recommended"],
  "plugins": ["chai-friendly"],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-console": "error",
    "func-names": "off",
    "consistent-return": "off",
    "no-return-assign": ["error", "except-parens"],
    "no-underscore-dangle": "off",
    "no-use-before-define": ["error", { "variables": false }],
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "promise/no-callback-in-promise": "off",
    "promise/no-promise-in-callback": "off",
    "no-unused-expressions": "off",
    "chai-friendly/no-unused-expressions": "error"
  }
}
