{
    "extends": "airbnb-base",
    "env": {
        "node": true
    },
    "rules": {
        "no-console": "off",
        "semi": "off",
        "linebreak-style": 0,
        "global-require": 0,
        "eslint linebreak-style": [0, "error", "windows"]
      }
}