{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:promise/recommended",
    "plugin:chai-friendly/recommended",
    "plugin:security/recommended"
  ],
  "plugins": [],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "no-console": "error",
    "func-names": "off",
    "consistent-return": "off",
    "no-return-assign": ["error", "except-parens"],
    "no-underscore-dangle": "off",
    "no-await-in-loop": "off",
    "no-restricted-syntax": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "promise/no-callback-in-promise": "off",
    "promise/no-promise-in-callback": "off",
    "security/detect-object-injection": "off"
  }
}
